<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="imagen/logo.png">
    <link rel="stylesheet" href="https://fontawesome.com/icons/hand-holding-heart?f=classic&s=solid">
     <!--JQUERY-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
     <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     
     <!-- Los iconos tipo Solid de Fontawesome-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
     <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <!-- Nuestro css-->
      <link rel="stylesheet" type="text/css" href="estilos.css" th:href="@{estilos.css}">
      <link rel="stylesheet"  href="index.html" th:href="@{index.html}">

    <title>Document</title>
</head>
<body>
    <section id="servicios">
        <h3 class="titulo-seccion">EVENTOS</h3>
        <div class="fila" >
            <!--1-->
            <div class="servicio">
                <i class="fa-solid fa-calendar-check" style="color: #f5e000;font-size: 40px;"></i> <br><br>
              <h4 >Laboratorio: Aspectos logísticos y de coordinación básicos a tomar en cuenta por el laboratorio durante el período epidémico </h4><hr>
              <ul class="servicios-tag">
                <li>La Paz -  El Alto</li>
                
              </ul>
             <p> Hora y Fecha <br>12:30 pm - 14:00 pm<br> 23 de septiembre<br><br>Lugar del evento <br>Sede de la Organización Panamericana de la Salud, Sala B.<br></p> <!--LINK al h4-->
              <div class="redes">
                <i class="fa-solid fa-angles-right"></i></div>
            </div>
            <!--2-->
            <div class="servicio">
                <i class="fa-solid fa-calendar-check" style="color: #f5e000;font-size: 40px;"></i> <br><br>
                <h4>Webinar de amor propio</h4><hr>
                <ul class="servicios-tag">
                  <li>La Paz -  El Alto</li>
                </ul>
                <p> Hora y Fecha <br>12:30 pm - 14:00 pm<br> 23 de septiembre<br><br>Lugar del evento <br>Sede de la Organización Panamericana de la Salud, Sala B.<br></p>
                <div class="redes">
                 <i class="fa-solid fa-angles-right"></i></div>
              
              </div>
              <!--3-->
              <div class="servicio">
                <i class="fa-solid fa-calendar-check" style="color: #f5e000;font-size: 40px;"></i> <br><br>
                <h4>Webinario Monitoreo de dispositivos móviles</h4><hr>
                <ul class="servicios-tag">
                  <li>La Paz -  El Alto</li>
                </ul>
                <p> Hora y Fecha <br>12:30 pm - 14:00 pm<br> 23 de septiembre<br><br>Lugar del evento <br>Sede de la Organización Panamericana de la Salud, Sala B.<br></p>
                <div class="redes">
                  <i class="fa-solid fa-angles-right"></i></div>
              
              </div>
              <hr>
              
        </div>
        <div class="fila">
          <!--1-->
          <div class="servicio">
            <i class="fa-solid fa-calendar-check" style="color: #f5e000;font-size: 40px;"></i> <br><br>
            <h4>Cómo la evidencia puede mejorar la preparación </h4><hr>
            <ul class="servicios-tag">
              <li>La Paz -  El Alto</li>
            </ul>
            <p> Hora y Fecha <br>12:30 pm - 14:00 pm<br> 23 de septiembre<br><br>Lugar del evento <br>Sede de la Organización Panamericana de la Salud, Sala B.<br></p>
            <div class="redes">
              <i class="fa-solid fa-angles-right"></i></div>
          
          </div>
          <!--2-->
          <div class="servicio">
            <i class="fa-solid fa-calendar-check" style="color: #f5e000;font-size: 40px;"></i> <br><br>
              <h4>Sesión informativa: Pongamos fin a las enfermedades transmisibles en las Américas: ​aceleremos la Iniciativa de Eliminación</h4><hr>
              <ul class="servicios-tag">
                <li>La Paz -  El Alto</li>
              </ul>
              <p> Hora y Fecha <br>12:30 pm - 14:00 pm<br> 23 de septiembre<br><br>Lugar del evento <br>Sede de la Organización Panamericana de la Salud, Sala B.<br></p>
              <div class="redes">
                <i class="fa-solid fa-angles-right"></i></div>
            
            </div>
            <!--3-->
            <div class="servicio">
                <i class="fa-solid fa-calendar-check" style="color: #f5e000;font-size: 40px;"></i> <br><br>
              <h4>Cobertura de la campaña 16 Días de activismo en años anteriores </h4><hr>
              <ul class="servicios-tag">
                <li>La Paz -  El Alto</li>
              </ul>
              <p> Hora y Fecha <br>12:30 pm - 14:00 pm<br> 23 de septiembre<br><br>Lugar del evento <br>Sede de la Organización Panamericana de la Salud, Sala B.<br></p>
              <div class="redes">
                <i class="fa-solid fa-angles-right"></i></div>
        
            </div>
            <hr>
            
        </div>
        </section>
        
        
</body>
</html>