<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="imagen/logo.png">
    <link rel="stylesheet" href="https://fontawesome.com/icons/hand-holding-heart?f=classic&s=solid">
     <!--JQUERY-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
     <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     
     <!-- Los iconos tipo Solid de Fontawesome-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
     <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <!-- Nuestro css-->
      <link rel="stylesheet" type="text/css" href="estilos.css" th:href="@{estilos.css}">
      <link rel="stylesheet"  href="index.html" th:href="@{index.html}">
      <title>EVENTOS</title>
</head>
<body>
    <section id="eventos">
        <h3 class="titulo-seccion">EVENTOS</h3>
        <div class="fila">
            <!--1-->
            <div class="evento">
              <span class="icono"><i class="fa-regular fa-calendar"></i></span>
              <h4>Sesión informativa: Pongamos fin a las enfermedades transmisibles en las Américas:aceleremos la Iniciativa de Eliminación </h4><hr>
              <ul class="eventos-tag">
               <li>Agenda</li>
               </ul>
              <p> Hora y Fecha <br>12:30 pm - 14:00 pm<br> 23 de septiembre<br><br>Lugar del evento <br>Sede de la Organización Panamericana de la Salud, Sala B.<br></p>
            <div class="redes">  <a href="https://youtu.be/qLh80boPhhA"><i class="fa-brands fa-square-youtube"></i></a></div>
              <!--LINK al h4-->
            </div>
            <!--2-->
            <div class="evento">
                <span class="icono"><i class="fa-regular fa-calendar"></i></span>
                <h4>Webinar en contra de la violencia</h4><hr>
                <ul class="eventos-tag">
                    <li>Agenda</li>
                    </ul>
                   <p> Hora y Fecha <br>18:30 pm - 20:00 pm<br> 24 de septiembre<br><br> Lugar del evento <br>Alcaldia de El Alto , piso #3.<br></p>
                  <div class="redes"> <a href="https://youtu.be/qLh80boPhhA"><i class="fa-brands fa-square-youtube"></i></a></div>
              </div>
              <!--3-->
              <div class="evento">
                <span class="icono"><i class="fa-regular fa-calendar"></i></span>
                <h4>Programa social de mejores prácticas </h4><hr>
                <ul class="eventos-tag">
                  <li>Agenda</li>
                </ul>
                <p> Hora y Fecha <br>18:30 pm - 20:00 pm<br> 22 de septiembre<br><br> Lugar del evento <br>Alcaldia de El Alto , piso #3.<br></p>
                <div class="redes"><a href="https://youtu.be/qLh80boPhhA"><i class="fa-brands fa-square-youtube"></i></a></div>
              </div>
              <hr>
              
        </div>
        <div class="fila">
          <!--1-->
          <div class="evento">
            <span class="icono"><i class="fa-regular fa-calendar"></i></span>
            <h4> Seminario Virtual ¿qué necesito o podría necesitar?</h4><hr>
            <ul class="eventos-tag">
              <li>Agenda</li>
            </ul>
            <p> Hora y Fecha <br>10:00 am - 12:00 pm<br> 21 de septiembre<br><br>Lugar del evento <br>Subalcaldia de El Alto , planta baja.<br></p>
            <div class="redes"><a href="https://youtu.be/qLh80boPhhA"><i class="fa-brands fa-square-youtube"></i></a></div>
          </div>
          <!--2-->
          <div class="evento">
              <span class="icono"><i class="fa-regular fa-calendar"></i></span>
              <h4>2°Foro Nacional en Bolivia "Otorgando concientización para el amor propio"</h4><hr>
              <ul class="eventos-tag">
                <li>Agenda</li>
              </ul>
              <p> Hora y Fecha <br>10:00 am - 12:00 pm<br>20 de septiembre<br><br> Lugar del evento <br>Subalcaldia de El Alto , planta baja.<br></p>
             <div class="redes"> <a href="https://youtu.be/qLh80boPhhA"><i class="fa-brands fa-square-youtube"></i></a></div>
            
              
            </div>
            <!--3-->
            <div class="evento">
              <span class="icono"><i class="fa-regular fa-calendar"></i></span>
              <h4>Serie de webinarios </h4><hr>
              <ul class="eventos-tag">
                <li>Agenda</li>
              </ul>
              <p> Hora y Fecha <br>08:00 am - 12:00 pm<br> 15 de septiembre<br><br>Lugar del evento <br>Subalcaldia de El Alto , planta baja.<br></p>
             <div class="redes"> <a href="https://youtu.be/qLh80boPhhA"><i class="fa-brands fa-square-youtube"></i></a></div>
            
            </div>
            <hr>
            
        </div>
        </section>
        <script src="script.js"></script>
</body>
</html>